__pycache__
.adobe/
.cache/
.lyrics/
.minecraft/
.macromedia/
.Skype/
.steam*/
.vim/bundle/
.vim/syntax/
Anime/
Desktop/
Documents/
Downloads/
Pictures/
Movies/
Music/
dev/
src/
ABS/
.muttrc
.bash_history
.pulse-cookie
.steampath
.steampid
.wallpaper
.Xauthority
.netrc
.wallpaper
.private_profile
*.pid
*.pyc
