@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

* {
  font-family: Termsyn !important;
  font-size: 14px !important;
}

/* Tabs */
.TabsToolbar {
  background: #101010 !important;
  overflow: hidden !important;
}

.tabbrowser-tabs  {
  background: #101010 !important;
}

.tabbrowser-tab {
  text-align: center !important;
}
.tabbrowser-tab, #appmenu-toolbar-button {
  -moz-appearance: none !important;
  -moz-border-image: none !important;
  background: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
  border-right: 1px solid #99a !important;
  min-height: 16px !important;
  max-height: 16px !important;
  color: #9999aa !important;
  padding: 0 5px !important;
}

.tabbrowser-tab[selected="true"] {
  color: #5f5fee !important;
}

#alltabs-button, .tab-icon-image {
  display: none !important;
}

/* App menu colorized */

#main-window:not([privatebrowsingmode]) #appmenu-toolbar-button {
  color: #80ff00 !important;
  background: #101010 !important;
}

/* Private browsing mode */

#main-window #appmenu-toolbar-button {
  color: #bb88dd !important;
  background: #101010 !important;
}

/* Tab close button */

.tab-close-button {
  display: none !important;
}

/* Tab new button */

.tabs-newtab-button, #new-tab-button {
  display: none !important;
}

/* URL Bar */
#urlbar {
    box-shadow: none !important;
    padding: 0 !important;
    padding-left: 4px !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    height: 22px !important;
    color: #d0d0d0 !important;
}

textbox#urlbar {
    background: transparent !important;
    -moz-appearance: none !important;
    border: none !important;
}

#searchbar .searchbar-textbox {
    color: #d0d0d0 !important;
    background: #101010 !important;
    box-shadow: none !important;
    height: 25px !important;
    font-family: Termsyn !important;
    font-size: 10px !important;
}

#nav-bar {
    background: #101010 !important;
    border: none !important;
    border-bottom: none !important;
    margin-top: 0 !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
}

#identity-box {
    background: none !important;
    color: #99a !important;
}

#main-window #navigator-toolbox {
    background: #101010 !important;
    border-bottom: 2px solid #bb88dd !important;
}

#main-window:not([privatebrowsingmode]) #navigator-toolbox {
    background: #101010 !important;
    border-bottom: 2px solid #80ff00 !important;
}

#notification-popup-box {
   background: transparent !important;
   border-right: none !important;
}

#navigator-toolbox:after {
    display: none !important;
}

/* Remove "Star", "Go" and "Dropdown" buttons from the URL bar. */
#star-button, #go-button, .autocomplete-history-dropmarker {
	display: none !important;
}

/* Forward / Back button only when useful */

#back-button[disabled="true"] { 
  display: none;
}

#forward-button[disabled="true"] { 
  display: none;
}

/* Button images */

#back-button > .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAABhJREFUKJFjYBha4MKFC/+HmuIhooliAAA6tRgKf0DilwAAAABJRU5ErkJggg==);
}

#forward-button > .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAABhJREFUKJFjYBj84MKFC/+Hi6ZBopgmAABj6RgKrTR/bQAAAABJRU5ErkJggg==);
}

#urlbar-stop-button > .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAACNJREFUKJFjYBh0gBGZc+HChf/YFBkYGMDVMZFqw3DQMAgBAKxDBAz/FoxvAAAAAElFTkSuQmCC);
}

#stop-button > .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAACNJREFUKJFjYBh0gBGZc+HChf/YFBkYGMDVMZFqw3DQMAgBAKxDBAz/FoxvAAAAAElFTkSuQmCC);
}

#urlbar-reload-button > .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAADRJREFUKJFjYBh0gBGb4IULF/7D2AYGBihqmPCZhq4Yp8noNEEb8JmM10nYAIZJ+Dw8SAEAm3kTeMgo/hoAAAAASUVORK5CYII=);
}

#reload-button > .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAADRJREFUKJFjYBh0gBGb4IULF/7D2AYGBihqmPCZhq4Yp8noNEEb8JmM10nYAIZJ+Dw8SAEAm3kTeMgo/hoAAAAASUVORK5CYII=);
}

#home-button > .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAClJREFUKJFjYBga4MKFC/9xyTHiU2xgYIAhz4hLMS5NTMQ6k2wNwwEAAIzgC3ZB/+zOAAAAAElFTkSuQmCC);
}
